/*Stores variable colors in root to be re-used in the project*/
:root {
    --background: #ffffff;
    --primary-color: #ffaa18;
    --text-color: #000000;
}

/*Define what font and font size to be used in the project (inside the <html> element)*/
html {
    font-family: Arial, "Times New Roman", Calibri, Helvetica, Verdana,
        sans-serif; /* Based on the 'WCAG Guideline 1.4 Distinguishable'
    these fonts fulfills the requirement the best, info from https://www.accessibilitychecking.com/blog/fonts-accessibility/#stk-5 */
    font-size: 1rem;
}

/*Remove all default margin and padding for all elements, this gives precise control  */
* {
    margin: 0;
    padding: 0;
}

/*Gives the background color of the document the color of -> variable --background*/
body {
    background-color: var(--background);
}

h1 {
    color: var(--text-color);
    font-weight: 800;
    text-align: center;
    margin: 20px auto 20px;
    border: solid rgba(0, 0, 0, 0.252);
    border-width: 0px 0px 2px;
}

/*Gives the text color for these elements (h1,h2,h3) the color of -> variable --text-color */
p,
h2,
h3 {
    color: var(--text-color);
    margin: 15px 0px;
    line-height: 1.5rem;
}

/* Used to apply bold styling to an element, without indicating a higher level of importance like the <strong> element. https://developer.mozilla.org/en-US/docs/Web/HTML/Element/strong */
.bold-text {
    font-weight: bold;
}

/*Gives all links a yellow underline with a 2px thickness*/
a {
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: 2px;
    color: blue;
    line-height: 1.5rem;
}

a:hover {
    text-decoration-color: black;
}
a:visited {
    color: rgb(134, 0, 146);
}

.black-underline-link:visited {
    color: var(--text-color);
}
.black-underline-link {
    color: var(--text-color);
}

/*li {list-style: none;} /* Removes all bullet points. Text that need bullet points have the class "bullet-points" */

ul li {
    /* Trengs det her å legge ul og?*/
    list-style: none;
}
.list-decoration {
    word-break: break-word; /* Handle word breaking */
}
.list-decoration li {
    list-style-position: outside;
    list-style: square;
    margin: 15px;
}

img {
    max-width: 100%; /* makes sure the image stays within the borders of its parent component*/
    box-sizing: border-box;
    max-height: fit-content;
}
/* Header specific styling*/

header {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; /*Spaces its children evenly across the header*/
    top: 0;
    padding: 40px 20px;
    background-color: var(
        --primary-color
    ); /* The color follow WCAG 2.1 AA based on a contrast ratio of 4.5:1. The ratio for this color is 11.02:1.
    The pairings have sufficient contrast for use with normal text, large text and graphics. Checked the contrast ratio with https://venngage.com/tools/accessible-color-palette-generator */
}

#oslomet-logo {
    position: absolute;
    max-width: 80px;
    margin: 0px 10px;
    left: 0;
}

/* Hamburger menu without javascript. The code is taken from the lecturer's tutorial of hamburger menu */

#menu-toggle {
    display: none;
} /* Hides the checkbox, which makes the menu toggle clickable without javascript */

@media (min-width: 761px) {
    .menu-content {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
    }
}

.menu-content li a {
    /*makes buttons for the header menu when not in mobile version*/
    padding: 20px;
    margin: 0px 20px;
    border: 2px solid rgba(253, 188, 104, 0.774); /*adds subtle borde to highlight the edges*/
    background-color: #ffae22;
    border-radius: 6px;
    text-align: center;
    box-shadow: 0 3px 8px 0px rgba(0, 0, 0, 0.089);
    text-decoration: none;
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
}
.menu-content li a:hover {
    /*enables interactivity when hovering the button*/
    background-color: white;
    color: rgb(231, 150, 0);
}

@media (max-width: 760px) {
    /* The hamburger menu will replace the row-menu at 700px */
    header {
        /*Ensure the hamburge menu will be on the left side when below 700px*/
        justify-content: left;
    }
    #oslomet-logo {
        right: 0;
        left: auto;
    }
    .menu-content li a {
        /* Remove the button-like appearance for the hamburger menu */
        padding: 0;
        margin: 0;
        border: none;
        background-color: transparent;
        box-shadow: none;
        border-radius: 0;
        text-decoration: underline;
    }
    .menu-content li a:hover {
        /* Minimal hover effect for mobile */
        background-color: transparent;
        color: var(--primary-color);
        text-decoration: none;
    }
    .menu-content {
        display: none; 
        position: absolute; 
        top: 90px; /* Place it directly below the hamburger icon */
        left: 25px; /*Use left to line it up with with the hamburger menu from the left side*/
        background-color: white;
        border-radius: 10px;
        padding: 10px 10px 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.61);
        z-index: 1; /*Ensures that the menu is in front of other contents*/
    }

    #menu-toggle:checked ~ .menu-content {
        display: block; /* Show the menu when checkbox is checked */
    }
    .menu-icon {
        display: block;
        background-image: url(../media/menu.svg); /* This hamburger menu icon is from https://fonts.google.com/icons */
        background-size: cover;
        filter: brightness(0);
        height: 40px;
        width: 40px;
    }

    .dropdown.container {
        cursor: pointer;
    }

    .menu-content li {
        height: 0px;
        overflow: hidden;
    }

    #menu-toggle:checked ~ .menu-content li {
        height: 1rem;
        width: auto;
        text-align: left;
        padding: 16px;
    }

    nav {
        display: flex;
        height: 40px;
    }
}

/*Styling main*/
main {
    /*overall margin for the main */
    margin: 0 15% 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
/*Reduce margin for the content when entering mobile*/
@media (max-width: 1200px) {
    main {
        margin: 0 3% 30px;
    }
}
/*Styling for course information on index-page*/
.main-section-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.main-section-box {
    padding: 30px 0px 30px;
    width: 100%;
    max-width: 800px;
    border: solid rgba(0, 0, 0, 0.252);
    border-width: 0px 0px 2px;
}

details {
    max-width: 500px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px 0;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: 0.2s ease-in-out;
}
summary {
    cursor: pointer;
    padding: 20px;
    font-size: 1rem;
    font-weight: bold;
    color: var(--text-color);
    background-color: #ffdc9e;
    border-bottom: 1px solid #ddd;
    display: flex;
    transition: background-color 0.2s ease-in-out;
}

summary:hover {
    background-color: #ffffff;
}

/*This applies the styling to the details element, but excludes it's child "summary". */
details > *:not(summary) {
    padding: 15px;
    font-size: 0.9rem;
    color: #555;
    line-height: 1.5rem;
}

details img {
    padding: 15px 15px 0 15px;
    /*border box ensures that the padding and margin and dimensions are calculated together, resolving issue of the image going outside of its parent container boundaries*/
    box-sizing: border-box;
}
details p {
    padding: 0 15px 0 15px;
}
figcaption {
    padding-bottom: 0 10px;
}


/* Used @media to help with scaling of the info-box. */
.page-header-container {
    background-color: #eaeaea; /* Contrast ratio of 17.46:1 with black text, follows WCAG 2.1 AA. Checked the contrast ratio with https://venngage.com/tools/accessible-color-palette-generator. */
    display: flex;
    padding: 30px;
    margin-bottom: -20px;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    max-width: 100%;
}

@media (max-width: 1031px) {
    .page-header-container {
        gap: 30px;
        flex-direction: column;
    }
}

.topic-group li {
    border: 1px solid #a2a2a2; /* Contrast ratio of 8.23:1 with black text, follows WCAG 2.1 AA. */
    padding: 15px;
    background-color: #eaeaea;
    border-radius: 5px;
    width: fit-content;
}

table {
    width: 100%;
    background: #eaeaea;
    border-collapse: collapse;
}
th,
td {
    border: 1px solid;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #d3d3d3; /* Contrast ratio of #D3D3D3 with black text, follows WCAG 2.1 AA */
}

/* adding margin on top and bottom, to give some spacing between sections */

.address {
    font-style: normal;
    padding: 5px 5px 0px 0px;
    line-height: 1.5rem;
}


/* Styled the table so that it is easier for the user to know where they are on the table. 
For example, having different colors on the rows 
Code used in https://www.w3schools.com/css/css_table.asp*/

.info-table {
    border-collapse: collapse;
    width: 100%;
}

.info-table td,
.info-table th {
    border: 1px solid #ddd;
    padding: 15px;
}

.info-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Mobile responsiveness tables */
/*Inspired technique retrieved from https://codepen.io/AllThingsSmitty/pen/MyqmdM*/
@media (max-width: 820px) {
    td {
        display: block;
        text-align: right;
    }

    th {
        display: none;
    }

    table td[rowspan] {
        font-weight: bold;
    }

    .mobile-header-color {
        background-color: rgb(211, 211, 211);
    }

    .mobile-tr {
        border-top: 1.4rem solid #ffffff;
        margin-top: 0.2rem;
        display: block;
    }
    table td[data-label]::before {
        content: attr(data-label) ":  ";
        font-weight: bold;
        font-size: 0.8rem;
        text-transform: uppercase;
        float: left;
    }
}

caption {
    text-align: left;
    padding: 20px 10px 10px 0;
    margin-top: 10px;
}

/* ASIDE STARTS HERE*/

aside {
    background-color: #fdbf60;
    max-width: 100%;
    margin-top: 40px;
}
.aside-container {
    /*Container has display flex and columns to make it wrap into boxes that displays horizontally instead of vertically.*/
    display: flex;
    flex-direction: column;
    margin: auto;
    /*Display max 1000px instead of having % margin, so the boxes does not scale to wide on wide-screen devices*/
    max-width: 1000px;
    /*gap adds additional spacing between the boxes*/
    gap: 30px;
    padding: 50px 0px;
}

.info-aside {
    padding: 35px;
    gap: 10px;
    /* Subtle border and background for emphasis*/
    background: #fffaf1;

    border: 1.5px solid #ffd395;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

@media (max-width: 862px) {
    .info-aside {
        margin: 0%;
        border-radius: 0px;
    }
    .aside-container {
        max-width: 100%;
    }
}

.info-aside:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-leader {
    max-width: 190px;
    height: auto;
    padding-top: 25px;
    padding-right: 30px;
}

.img-story {
    max-width: 100%;
    height: auto;
    padding-top: 25px;
}

/*ASIDE ENDS HERE*/

/*FOOTER STARTS HERE*/

footer {
    max-width: 100%;
    background-color: var(--primary-color);
    bottom: 0;
    padding: 60px; /* Uniform padding for consistency */
}
footer li {
    /*Give some extra spacing for the list in the footer*/
    margin: 5px 0px;
}

.footerflex {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media (max-width: 900px) {
    .footerflex {
        flex-direction: column;
        gap: 20px;
    }
}

/* Turned it to flexboxs, so it would be possible to place the social media icons beside the text/link */
.footerright {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px;
}

.social-media {
    display: flex;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 12px;
}

.icon {
    /* The free icons is from https://www.iconfinder.com/ */
    height: 24px;
    width: 24px;
    margin-right: 12px;
}

/* FOOTER ENDS HERE*/


/* CSS FOR ACTIVITY PAGE*/

/* Using inspiration 
and code examples from: https://www.w3schools.com/howto/howto_css_hero_image.asp to style heading*/

/* The color pairings follow WCAG 2.1 AA based on a contrast ratio of 4.5:1. https://venngage.com/tools/accessible-color-palette-generator */
.activity-page {
    background-color: #b9d17e;
    background-color: #d5f1d8;
}

.intro-image {
    margin: 40px 0px 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
}

.intro-text {
    margin: auto;
    text-align: center;
    max-width: 890px;
}

/* Styling for images inside the field boxes */
.img-fotball {
    border-radius: 10px;
    outline: 1px solid grey;
}

/* Styling for the buttons link */
.link-button {
    text-align: center;
    text-decoration: none;
    background-color: initial;
    background-color: #60bdff;
    padding: 10px 15px;
    color: black !important; /* Ensures the text is black regardless of parent styles. Source: https://www.w3schools.com/css/css_important.asp */
    border-radius: 25px;
    margin-bottom: 15px;
}

/* Hover effect for the button links */
.link-button:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    text-decoration: underline;
}

.info {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    row-gap: 25px;
    padding: 40px;
    box-sizing: border-box;
}

/* Gives the informaton box a background effect making it easier to see the boxes */
.information-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
    margin: 10px; /*sett 20px til 10px for at boksene skal være ved siden av hverandre*/
    background-color: #f9f9f9;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    padding: 30px 20px 0px;
    border-radius: 5px;
}

.information-box h2 {
    align-items: center;
    text-align: center;
    padding-top: 10px;
}

.information-box p {
    align-items: center;
    text-align: center;
    padding: 0 10px 0px 10px;
}

/* Styling to make container for all field boxes*/
.container-field {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 20px;
    row-gap: 30px;
    padding: 50px 0;
    max-width: 1150px;
    margin: 0 auto;
    margin-bottom: 50px;
}

/* Styling for the individual field boxes*/
.field-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 225px;
    width: 100%;
    text-align: center;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

/* Styling for headings inside the field boxes */
.info-heading {
    display: inline-block;
    margin: 10px 0;
}

/* Styling for the description text inside the field boxes */
.field-box p{
    padding-bottom: 20px;
}

/* Styling for the extra information about fields in Oslo */
.field-information {
    max-width: 850px;
    margin: auto;
    padding: 20px;
    background-color: #60bdff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    /* Styling for the text about fields in Oslo */
}

.field-text {
    color: #000000;
}
/* Responsive styling for mobile devices */
@media (max-width: 768px) {
    .info-box {
        max-width: 100%; /* Full width on smaller screens */
    }

    .container {
        flex-direction: column;
        gap: 15px;
    }

    .info.box {
        max-width: 100%;
        padding: 20px;
    }
}
