/*Stores variable colors in root to be re-used in the project*/
:root {
    --background: #ffffff;
    --primary-color: #ffaa18;
    --text-color: #000000;
}

/*Define what font and font size to be used in the project (inside the <html> element)*/
html {
    font-family: Arial, "Times New Roman", Calibri, Helvetica, Verdana,
        sans-serif; /* Based on the 'WCAG Guideline 1.4 Distinguishable'
    these fonts fulfills the requirement the best, info from https://www.accessibilitychecking.com/blog/fonts-accessibility/#stk-5 */
    font-size: 1rem;
}

/*Remove all default margin and padding for all elements, this gives precise control  */
* {
    margin: 0;
    padding: 0;
}

/*Gives the background color of the document the color of -> variable --background*/
body {
    background-color: var(--background);
}

h1 {
    font-weight: 800;
    margin-bottom: -30px;
}

/*Gives the text color for these elements (h1,h2,h3) the color of -> variable --text-color */
p,
h1,
h2,
h3 {
    color: var(--text-color);
    margin-top: 20px;
    line-height: 1.5;

}

/* Used to apply bold styling to an element, without indicating a higher level of importance like the <strong> element. https://developer.mozilla.org/en-US/docs/Web/HTML/Element/strong */
.bold-text {
    font-weight: bold;
}

/*Gives all links a yellow underline with a 2px thickness*/
a {
    text-decoration: underline;
    text-decoration-color: var(--primary-color);
    text-decoration-thickness: 2px;
    color: var(--text-color);
}

a:hover {
    text-decoration-color: black;
}
a:visited {
    color:rgb(134, 0, 146);
}

.black-underline-link:visited {
    color: var(--text-color);
}

/*li {list-style: none;} /* Removes all bullet points. Text that need bullet points have the class "bullet-points" */

ul li {
    list-style: none;
    margin-bottom: 10px;
}
/*targets bullet points to style*/
.list-decoration li {
    margin: 10px;
}
.list-decoration li::before {
    content: '▲';
    color: var(--primary-color);
    padding: 10px;
    transition: transform 0.3s;
}


img {
    max-width: 100%; /* makes sure the image stays within the borders of its parent component*/
}

/* Header specific styling*/

header {
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly; /*Spaces its children evenly across the header*/
    top: 0;
    padding: 35px 20px; 
    background-color: #ffaa18; /* The color follow WCAG 2.1 AA based on a contrast ratio of 4.5:1. The ratio for this color is 11.02:1.
    The pairings have sufficient contrast for use with normal text, large text and graphics. Checked the contrast ratio with https://venngage.com/tools/accessible-color-palette-generator */
}

/* Hamburger menu without javascript. The code is taken from the lecturer's tutorial of hamburger menu */

#menu-toggle {
    display: none;
} /* Hides the checkbox, which makes the menu toggle clickable without javascript */

@media (min-width: 701px) {
  
    .menu-content {
        display: flex;
        justify-content: center;
        list-style: none;
    }
}

.menu-content li {
    padding-right: 4rem;
}

@media (max-width: 700px) {
    /* The hamburger menu will replace the row-menu at 700px */
    header{  /*Ensure the hamburge menu will be on the left side when below 700px*/
        justify-content: left;
    }
    .menu-content {
        position: sticky;
        padding-left: 0px;
        list-style: none;
    }
    .menu-icon {
        display: block;
        background-image: url(../media/menu.svg); /* This hamburger menu icon is from https://fonts.google.com/icons */
        background-size: cover;
        height: 40px;
        width: 40px;
    }

    .dropdown.container {
        cursor: pointer;
    }

    .menu-content li {
        height: 0px;
        overflow: hidden;
    }

    #menu-toggle:checked ~ .menu-content li {
        height: 1rem;
        width: auto;
        text-align: left;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
        background-color: white;
        box-shadow: 0 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    nav {
        display: flex;
        height: 40px;
    }
}



/*Styling main*/
main {
    margin: 0 15%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
}


 /*Styling for course information on index-page*/
 .index-main-container {
    display:flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}


.index-box {
    padding: 30px 0px 30px;
    width: 100%;
    max-width: 800px;
    text-wrap:balance;
    margin-top: 10px;
    border: solid rgba(0, 0, 0, 0.252);
    border-width: 0px 0px 1px;
}
details {
    max-width: 500px;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px 0;
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
}
summary {
    cursor: pointer;
    padding: 20px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    background-color: #ebdd90;
    border-bottom: 1px solid #ddd;
    display: flex;
    transition: background-color 0.2s ease-in-out;
}

summary:hover {
    background-color: #ffffff;
}

/*This applies the styling to the details element, but excludes it's child summary. */
details > *:not(summary) {
    padding: 15px;
    font-size: 0.9rem;
    color: #555;
    line-height: 1.6;
}

main img {
    margin-top: 40px;
}

/* Used @media to help with scaling of the info-box. */
.page-header-container {
    background-color: #eaeaea; /* Contrast ratio of 17.46:1 with black text, follows WCAG 2.1 AA. Checked the contrast ratio with https://venngage.com/tools/accessible-color-palette-generator. */
    display: flex;
    padding: 30px;
    margin-bottom: -20px;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    max-width: 100%;
}

@media (max-width: 1031px) {
    .page-header-container {
        gap: 30px;
        flex-direction: column;
    }
}

/*Reduce margin for the content when entering mobile*/
@media (max-width: 1200px) {
    main {
        margin: 0 8%;
    }
}

.topic-group li {
    border: 1px solid #a2a2a2; /* Contrast ratio of 8.23:1 with black text, follows WCAG 2.1 AA. */
    padding: 15px;
    background-color: #eaeaea;
    border-radius: 5px;
    width: fit-content;
}

table {
    width: 100%;
    background: #eaeaea;
    border-collapse: collapse;
}
th,
td {
    border: 1px solid;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #d3d3d3; /* Contrast ratio of #D3D3D3 with black text, follows WCAG 2.1 AA */
}

/* adding margin on top and bottom, to give some spacing between sections */
section {
    margin: 10px 0;
    width: 100%;
}

.address {
    font-style: normal;
    padding: 5px 5px 0px 0px;
    line-height: 1.2;
}

/* CSS FOR ACTIVITY PAGE*/

/* Styled the hero heading for a visually appealing. 
Using inspiration and code examples from: https://www.w3schools.com/howto/howto_css_hero_image.asp */ 
.intro-section {
    position: relative;
    text-align: center;
  }

.intro-image {
    width: 100%;
    height: auto;

  }
  
.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
}

/* Gives the informaton box a background effect making it easier to see the boxes */
.information-box {
    flex: 1 1 30%;
    min-width: 250px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px; /*sett 20px til 10px for at boksene skal være ved siden av hverandre*/
    background-color: #f9f9f9;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    .information-box {
        flex: 1 1 100%;
    }
}


/* The nth-of-type() pseudo-class made it easier to chanage the size of each independet flexbox /*
/* Making it easier to align them and experiment. Code from https://www.w3schools.com/cssref/sel_nth-of-type.php */
.information-box:nth-of-type(1) {
    flex: 1 250px;
}

.information-box:nth-of-type(2) {
    flex: 1 250px;
}

.information-box:nth-of-type(3) {
    flex: 1 250px;
}

.img-illustration {
    max-width: 300px; 
    min-width: none;
    object-fit: cover;
}

.information {
    margin-bottom: 20px;
}

/* Styling for the buttons link */
.button-link {
    text-decoration: none;
    border: initial;
    background-color: initial;
    background-color: #60bdff;
    padding: 10px 15px;
    color: black !important; /* Ensures the text is black regardless of parent styles. Source: https://www.w3schools.com/css/css_important.asp */
    border-radius: 25px;
    font-size: 0.7rem;
}
/* Wrapper for position of the button links */
.link-button {
    margin-top: auto;
}

/* Hover effect for the button links */
.button-link:hover {
    cursor: pointer;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

/* CSS FRA MANDI*/

/* Styling for the field section container */
.field-section {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    text-align: center; 
    padding: 20px;
}

/* Styling for the main heading in the bottom section*/
.main-heading {
    margin-bottom: 15px;
}

/* Styling for introducton text in bottom section*/
.intro-text {
    max-width: 880px;
    margin: 0 auto;
}
/* Styling for the individual field boxes*/
.field-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 300px; 
    width: 100%; 
    text-align: center;
    background-color: #f9f9f9; 
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(212, 52, 52, 0.1); 
}
/* Styling to make container for all field boxes*/
.container-field {
    padding: 50px 0;
    max-width: 1150px;
    padding: 0 30px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 30px;
}
/* Styling for images inside the field boxes */
.img-field {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
/* Styling for headings inside the field boxes */
.info-heading {
    font-size: 1.2rem;
    margin: 10px 0;
}

/* Styling for the description text inside the field boxes */
.info-description {
    font-size: 0.9rem;
    margin: 10px 0;
    color: #222;
}

/* Styling for the extra information about fields in Oslo */
.field-information {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #60bdff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;

/* Styling for the text about fields in Oslo */
}
.field-text {
    font-size: 1rem;
    color: #000000;
}
/* Responsive styling for mobile devices */ 
@media (max-width: 768px) {
    .info-box {
        max-width: 100%; /* Full width on smaller screens */
    }
    .container {
        flex-direction: column;
        gap: 15px;
    }
    .info.box  {
        max-width: 100%;
        padding: 20px;
    } 
}


/* Styled the table so that it is easier for the user to know where they are on the table. 
For example, having different colors on the rows 
Code used in https://www.w3schools.com/css/css_table.asp*/

.info-table {
    border-collapse: collapse;
    width: 100%;
}

.info-table td,
.info-table th {
    border: 1px solid #ddd;
    padding: 15px;
}

.info-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Mobile responsiveness tables */
/*Inspired technique retrieved from https://codepen.io/AllThingsSmitty/pen/MyqmdM*/ 
@media (max-width: 820px) {
    td {
        display: block;
        text-align: right;
    }

    th {
        display: none;
    }

    table td[rowspan] {
        font-weight: bold;
    }

    .mobile-header-color {
        background-color: rgb(211, 211, 211);
    }

    .mobile-tr {
        border-top: 1.4rem solid #ffffff;
        margin-top: 0.2rem;
        display: block;
    }
    table td[data-label]::before {
        content: attr(data-label) ":  ";
        font-weight: bold;
        font-size: 0.8rem;
        text-transform: uppercase;
        float: left;
    }
}

caption {
    text-align: left;
    padding: 20px 10px 10px 0;
    margin-top: 10px;
}

/* ASIDE STARTS HERE*/

aside {
    background-color: #FDBF60; 
    max-width: 100%;
    margin-top: 40px;
}

.img-leader {
    width: 190px;
    height: 255px;
    padding-top: 25px;
    padding-right: 30px;
}

.img-story {
    width: 2200px;
    padding-top: 25px;
}

.aside-container {
justify-content: space-around;
display: flex;
align-items: flex-start;
flex-direction: column;
gap: 40px;
padding-bottom: 40px;
padding-top: 10px;

}

.info-aside {
    padding: 0 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10px;
}

.info-aside-reverse {
    padding: 0 15%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10px;
}

@media (max-width: 1477px) {
    .info-aside{
        flex-direction: column;
    }
}

@media (max-width: 1477px) {
    .info-aside-reverse{
        flex-direction: column-reverse;
    }
}

/* FOOTER STARTS HERE */

footer {
    max-width: 100%;
    background-color: #ffaa18;
    bottom: 0;
    padding: 20px; /* Uniform padding for consistency */
}

.footerflex {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-top: 40px;
}

@media (max-width: 900px) {
    .footerflex {
        flex-direction: column;
        gap: 20px;
    }
}

/* Turned it to flexboxs, so it would be possible to place the social media icons beside the text/link */
.footerright {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
    padding: 4px;
}

.social-media {
    display: flex;
    align-items: center;
    padding-top: 0px;
    padding-bottom: 12px;
}

.icon {
    /* The free icons is from https://www.iconfinder.com/ */
    height: 24px;
    width: 24px;
    margin-right: 12px;
}

/* FOOTER ENDS HERE*/